// Imports
@use '../custom' as *;

#hero-section {
  height: 400px;
  width: 100%;
  background-color: #1D1D1D;
  

  h1 {
    font-weight: 300;
    color: $white;
    line-height: 0.5;
    text-align: center;

    span {
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
    }
  }

  h2 {
    font-weight: 300;
    color: $white;
    line-height: 1.4;
    text-align: center;
  }
}

@include media-breakpoint-up(lg) {
  #hero-section {
    height: 500px;
    width: 100%;

    h1 {
      text-align: left;

      span {
        text-align: left;
      }
    }

    h2 {
      text-align: left;
    }
  }
}
