// Imports
@use '../custom' as *;

.my-work {
  background-color: #282828;
  padding: 100px 0;
  
  &__title {
    display: inline-block;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 15px;
    border: 10px solid $white;
    padding: 20px 50px;
    margin-bottom: 25px;
  }
}

.portfolio {
  
  .col-6 {
    padding: 125px 50px;
  }
  
  @include media-breakpoint-down(lg) {
    .col-6 {
      padding: 125px 25px;
    }
  }

  &__logo {
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 550px;
  }

  &__header {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
  
  @include media-breakpoint-down(lg){
    &__header {
      font-size: $h5-font-size;
    }
  }
  
  &__text {
    text-align: center;
  }
  
  .fa-github {
    font-size: 10rem;
    color: $white;
    transition: all 0.3s ease-in-out;
    
    &:hover {
      color: $secondary;
    }
  }
}