// Imports
@use '../custom' as *;

.my-work {
  background-color: $dark;
  padding: 100px 0;
  
  &__title {
    display: inline-block;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 15px;
    border: 10px solid $white;
    padding: 20px 50px;
    margin-bottom: 25px;
  }
}

.portfolio {
  
  .col-12 {
    padding: 125px 50px;
  }

  &__logo {
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 550px;
  }
  
  &__image {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 350px;
  }

  &__header {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
  
  &__text {
    text-align: center;
  }
  
  .fa-github {
    font-size: 4rem;
  }
}