// Imports
@use '../custom' as *;

.skills {
  
  &__header{
    font-size: $h4-font-size;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
  
  //&__text {
  //  color: $white;
  //  font-weight: 300;
  //}
  
  &__logos {
    width: 80px;
    height: auto;
    opacity: 0.2;
    
    &:hover {
      opacity: 1;
    }
  }
}