// Imports
@use '../custom' as *;

#hero-area {
  height: 300px;
  width: 100%;
  background-color: #1D1D1D;
  
  h1 {
    font-weight: 300;
    color: $white;
    line-height: 0.5;
    
    span {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  
  h2 {
    font-weight: 300;
    color: $white;
    line-height: 1.4;
  }
}

@include media-breakpoint-up(lg) {
  #hero-area {
    height: 350px;
    width: 100%;
  }
}